@font-face {
    src: url(Fonte/Pixeloid.ttf);
    font-family: Pixeloid;
}

@media (max-width: 1366px){
    body{zoom: 80%; /* Zoom para deixar a fonte apropriada */}

    #informacoes #info{margin-top: 50px;}

    #h1{margin-left: 40px;}

    #projDiv #P1{font-size: 1.9em;}

    footer #footerP{font-size: 14px;}

    footer #linkedin{margin-top: 10px;}

    footer #github{
        margin-right: 10px;
        margin-top: 8px;
    }

     /* EU TE ODEIO FIREFOX */
    @-moz-document url-prefix() {

        .navbar #coffee{
            padding-left: 215px;
            position: static;
        }


        body{font-size: 0.8em;}

        #projDiv #P1{
            font-size: 2em;
            margin-top: -30px;
        }

        #informacoes .sobre{
            margin-top: -30px;
            font-size: 21px;
        }

        footer #linkedin{
            font-size: 28px;
            margin-top: 3px;
        }

        footer #github{
            font-size: 30px;
            margin-right: 5px;
            margin-top: 0px;
        }
        
        footer #footerP{
            font-size: 11px;
            margin-top: 10px;
        }
        #projetos #KuruKuru{
            height: 100px;
            margin-top: 6px;
        }
    }

    #KuruKuru{margin-top: 55px;}
}



body {
    font-family: "Pixelify Sans",  Verdana;
    background: #1e1e3c;
    background: linear-gradient(0deg, #131316 35%, #1d2230 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(225, 225, 225);

    margin: 0px;
    text-align: center;
}


@-moz-document url-prefix() {
        .navbar #coffee{
            padding-left: 200px;
            position: static;
      }
}



/* Navbar */


.navbar ul{
    text-align: center;
    list-style-type: none;
    background-color: #161a25;

    font-size: 18px;
    padding: 11px;
    margin-top: -5px;
    
    overflow: hidden;
}

.navbar a{
    color: white;
    text-decoration: none;
    margin-top: 0.5px;
    padding: 15px;

    display: block;
    block-size: 20px;

    margin-right: 10px;
}

.navbar a:hover{
    border-radius: 15px;
    background-color: #30303065;
}

.navbar li{
    float: right;
    display: inline;
}

.navbar #coffee{
    height: 45px;
    margin-left: -50px;
    margin-top: 4px;

    position: absolute;

}

.navbar #coffee:hover{
    cursor: pointer;
    user-select: none;
}

.navbar #icone{
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

    height: 0px;
    margin-top: 17px;
    margin-left: 18px;
    float: left;
    display: inline;
}

.navbar #icone:hover{
    color:rgb(124, 51, 51);
    cursor: pointer;
    user-select: none;
}


/* Textos */

#h1{
    font-family: "Press Start 2P", system-ui;
    padding: 4px;
    font-size: 3em;
    height: 45px;
}

#H1{
    font-family: "Press Start 2P", system-ui;
    font-size: 2em;
}

p{
    font-size: 1.6em;
    height: 50px;
    Padding: 15px;
}

#P1{
    font-size: 1.35em;

}

#textoH1{
    font-size: 2.2em;
    margin-bottom: -1 em;
}

/* Info */

#info{
    font-family: Pixeloid;
    font-size: 1.5em;
}

/* Footer e ícones */

footer{
    position: fixed;
    bottom: 0;
    height: 8%;
    width:100%;
    background-color: #00000028;
    margin: center;
    text-align: center;

}

#footerP{
    color: rgb(193, 193, 193);
    font-family: Verdana;
    font-size: 0.8em;
    padding: 10px;

    
    float: left;
}

#github{
    color: rgb(193, 193, 193);
    padding: 10px;
    float: right;
    margin-top: 2px;
    margin-right: 10px;
    margin: center;
    text-align: center;
}

#github:hover{
    color: rgb(79, 49, 122);
}

#linkedin{
    
    font-size: 30px;
    color: rgb(208, 208, 208);
    padding: 10px;
    
    margin-top: 4px;
    margin-right: 15px;
    margin: center;
    text-align: center;
    float: right;
}

#linkedin:hover{
    color: rgb(37, 83, 120);
}

/* Sobre */

.sobre{
    font-family: Pixeloid;
    font-size: 30px;

    margin-top: -30px;
}

/* Contato */

#contato{
    font-family: "Press Start 2P", system-ui;;
}

/* Projetos */

.container{
    display: flex;
    height: 235px;
    border: 1px solid;

    line-height: 230px;
    border-color: transparent

}


.box{

    background-color: #252525;
    border-radius: 15px;
    border: 2px solid transparent;
    width: 520px;
    height: auto;
    text-align: center;
    margin: 12px;
    padding: 70px;
}

#KuruKuru{
    height: 150px;

    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-name: slideLeft;
    cursor: pointer;
    user-select: none;

}

.container #box1{
    background-color: #151515;
    background-image: url(Imagens/Contador.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 320px;
    
}

.container #box2{
    background-image: url(Imagens/Calculadora.png);
    background-position: center;
    background-size: 500px;
}

.container #box3{
    background-color: #8a8a8a;
    background-image: url(Imagens/Soundboard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 490px;
}

.box{
    color: white;
    text-decoration: none;
}

.container:hover{
    cursor: pointer;
    user-select: none;
}


@keyframes slideLeft{
    from{transform: translateX(480%)}
}
